.nav {

}


.nav1 {
    background-color: #ead9e3fa;
    color: aqua;
    list-style: none;
    text-align: left;
    padding:  0;
    margin:0;
    font: serif;
   
}

.nav1 > li { 
    position: relative;
    display:block;
    padding: 0px;
}

.nav1 li  a {
    display: block;
    padding:10px;
    color: rgb(120, 199, 255);
}


.nav1 a:hover,
.nav1 a:focus {
    color:rgb(164, 208, 246);
    background-color: #feabd2;
}

.nav1 li ul {
    display: none;
    position: relative;
    left: 0;
    top: 100;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #faa8d1;
    
}

.nav1 li:hover > ul  {
    display: block;
   }

.nav1 li ul li a {
   color: white;
   padding: 0px;
}
.nav1 li ul li a:hover  {
 background-color: #2a1f22;
}

